<div id='template' class='flex flex-1 flex-col bg-gray-100'>
    {# Header #}
    <div class='flex flex-col justify-center items-center w-full py-24 xl:py-32 background-cover'>
        <div class='flex flex-1 flex-col justify-center w-3/4'>
            <div class='flex flex-1 flex-col md:flex-row'>
                {# Avatar #}
                <div class="flex items-center justify-center">
                    <a href='/' class='relative h-24 w-24'>
                        <img class="rounded-full h-24 w-24 shadow-md" src="{{ shop.avatar }}">
                        <div class="flex absolute avatar-status h-5 w-5 rounded-full {% if shop.online.state %}accent-flavor-dark{% else %}bg-red-500{% endif %}"></div>
                    </a>
                </div>

                {# Username #}
                <div class="flex flex-1 flex-col px-12 justify-center">
                    <a href='/' class="no-underline text-white text-3xl font-bold md:text-left text-center">{{ shop.username }}</a>
                    <a class="no-underline text-white md:text-left text-center">An online shop</a>
                </div>

                {# Feedback #}
                <div class="flex flex-col m-3 mt-12 md:mt-3">
                    <a class='text-white mb-3 text-sm' href='/feedbacks'>
                        Feedbacks
                        <i class='fa fa-chevron-right text-2xs ml-1'></i>
                    </a>
                    <div class="flex flex-col lg:flex-row">
                        <div class='flex flex-col justify-center mb-3 lg:mb-0 lg:mr-6'>
                            <span class='text-gray-600 text-sm mb-1'>Positive</span>
                            <div class='flex flex-row'>
                                <span class='text-white mr-3 text-xs'>{{ shop.score.positive }}</span>
                                <div class='relative flex w-32 h-4 bg-gray-700 rounded'>
                                    <span class='absolute flex items-center justify-center text-2xs text-gray-300 reputation-descriptor w-12 h-4'>{{ shop.statistics.positive }}%</span>
                                    <div class='flex bg-green-500 rounded' style='width: {{ shop.statistics.positive }}%;'></div>
                                </div>
                            </div>
                        </div>

                        <div class='flex flex-col justify-center mb-3 lg:mb-0 lg:mr-6'>
                            <span class='text-gray-600 text-sm mb-1'>Neutral</span>
                            <div class='flex flex-row'>
                                <span class='text-white mr-3 text-xs'>{{ shop.score.neutral }}</span>
                                <div class='relative flex w-32 h-4 bg-gray-700 rounded'>
                                    <span class='absolute flex items-center justify-center text-2xs text-gray-300 reputation-descriptor w-12 h-4'>{{ shop.statistics.neutral }}%</span>
                                    <div class='flex bg-gray-400 rounded' style='width: {{ shop.statistics.neutral }}%;'></div>
                                </div>
                            </div>
                        </div>

                        <div class='flex flex-col justify-center'>
                            <span class='text-gray-600 text-sm mb-1'>Negative</span>
                            <div class='flex flex-row'>
                                <span class='text-white mr-3 text-xs'>{{ shop.score.negative }}</span>
                                <div class='relative flex w-32 h-4 bg-gray-700 rounded'>
                                    <span class='absolute flex items-center justify-center text-2xs text-gray-300 reputation-descriptor w-12 h-4'>{{ shop.statistics.negative }}%</span>
                                    <div class='flex bg-red-500 rounded' style='width: {{ shop.statistics.negative }}%;'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Products #}
    <div class='flex flex-1 px-6 bg-gray-200'>
        <div class='grid grid-cols-3 gap-6 mt-8 w-full md:w-3/4 ml-auto mr-auto pb-12 justify-center'>
            {% for feedback in shop.feedbacks %}
                <div class='flex flex-col mt-4 w-full px-4 md:flex-1/3 flex-1/2 md:min-w-1/3 min-w-1/2'>
                    <div class='flex flex-col flex-1 rounded bg-white shadow text-black'>
                        <div class='flex flex-row rounded-t p-4 border-b'>
                            <div class='flex flex-row items-center ml-auto text-xs'>
                                <i class='fa fa-check mr-1'></i>
                                <span>Verified Purchase</span>
                            </div>
                        </div>
                        <div class='flex flex-col flex-1 p-4 rounded-b'>
                            {% if feedback.comment == null or feedback.comment.length == 0 %}
                                <span class='text-gray-800 italic'>no comment</span>
                            {% else %}
                                <span class='text-black'>{{ feedback.comment }}</span>
                            {% endif %}

                            {% if feedback.response != null and feedback.response.length > 0 %}
                                <div class='flex flex-col flex-1 border-l-2 border-green-400 bg-gray-100 pl-2 py-2 mt-3'>
                                    <span class="text-xs text-gray-600">Seller response:</span>
                                    <span class='text-black'>{{ feedback.response }}</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class='flex flex-col rounded-t p-4'>
                            <div class='flex flex-1 border-t'></div>
                            <div class='flex flex-1 flex-row mt-4'>
                                {% for i in range(0, 5) %}
                                    {% set colored = i < feedback.stars %}
                                    {% set color = "gray-400" %}
                                    {% if colored and feedback.rating == 1 %} {% set color = "green-400" %} {% endif %}
                                    {% if colored and feedback.rating == 0 %} {% set color = "gray-600" %} {% endif %}
                                    {% if colored and feedback.rating == -1 %} {% set color = "red-400" %} {% endif %}

                                    <div class='flex items-center justify-center w-6 h-6 bg-{{ color }} rounded-full mr-2'>
                                        <i class='fa fa-star text-white text-xs'></i>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
